 body{
    text-align: center;
    background-color: rgb(5, 13, 54);
    background-image: url('../images/basic1.jfif');
}
/*input{
    width: 60%;
}
button#button-addon2 {
    color: white;
    background-color: cornflowerblue;
} */

.card{
    display: inline-block;
    margin-right: 5vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    border-radius: 10px;
}

#details:hover{
    cursor: pointer;
    color: red;
}

.pic{
    height: 12rem;
    width: 12rem;
    border-radius: 10px;
}
button{
    float: right;
}
h1{
    text-decoration: underline;
    color: white;
}