body{
    text-align: center;
    background-color: rgb(5, 13, 54);
    background-image: url('../images/heroes.jpg');
}
input{
    width: 60%;
}
button#button-addon2 {
    color: white;
    background-color: cornflowerblue;
}

.card{
    display: inline-block;
    margin-right: 5vw;
    margin-bottom: 5vw;
    border-radius: 10px;
}
.pic{
    border-radius: 10px;
}

#details:hover{
    cursor: pointer;
    color: red;
}

.pic{
    height: 10rem;
    width: 10rem;
}
.container{
    color: white;
    background-color: black;
    opacity: 0.7;
    border-radius: 20px;
}
#fav:hover{
    cursor: pointer;
}